head
  meta(charset='utf-8')
  title Welcome
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='/favicon.ico')
  meta(name='theme-color' content="#ffffff")
  link(rel='stylesheet', href='styles/main.css')
