h1 {
	font-size: 24px;
	line-height: 1.5;
}

h2 {
	font-size: 20px;
	line-height: 1.6;
}

h3 {
	font-size: 16px;
	line-height: 1.5;
}

h4 {
	font-size: 13px;
	line-height: 1.54;
}

h5 {
	font-size: 11px;
	line-height: 1.8;
}
