.container {
	max-width: var(--grid-container);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.row {
	margin-left: calc(-1 * var(--gutter));
	margin-right: calc(-1 * var(--gutter));
}

.row {
	display: flex;
}

.row::before,
.row::after {
	content: "";
	display: table;
	clear: both;
}

@supports(display: flex) {
	.row::before,
	.row::after {
		content: none;
	}
}

.row > .col {
	float: left;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.row--4 {
  margin-left: -10px;
  margin-right: -10px;
  transition: ease all .5s;
}

.row--4 > .col {
	width: 25%;
}

.row--3 > .col {
	width: 33.33%;
}

.row--3 > .col--2 {
	width: 66.66%;
}

@media ( max-width: 730px) {
  .row--4 > .col {
    width: 33.33%;
  }
}

@media ( max-width: 555px) {
  .row--4 > .col {
    width: 50%;
  }
}

@media ( max-width: 360px) {
  .row--4 > .col {
    width: 100%;
  }
}
