:root {
	--background-color: #E5E5E5;
	--accent-main-color: #E84F89;
	--accent-secondry-color: #3E8CB9;
	--basic-headlines-color: #333333;
	--basic-main-color: #777777;
	--basic-secondry-color: #AAAAAA;
}


