.content__card {
	display: inline-block;
	height: 220px;
	min-width: 215px;
	background-color: white;
	margin-bottom: 20px; 
}

.card__media img {
	display: inline-block;
	width: 100%;
}

.card__media {
	width: 100%;
	display: inline-block;
	padding: 8px 8px 28px 8px;
	height: 180px;
	box-shadow: 2px 2px 2px #AAA;
	border-radius: 5px;
}

.card__media h5 {
	margin: 0;
	display: inline-block;
	font-weight: normal;
	color: var(--basic-main-color);
}

.card__actions {
	text-align: right;
	position: relative;
	bottom: -4px;
}

.card__actions li {
	display: inline-block;
}

.card__action {
	vertical-align: middle;
	display: inline-block;
	width: 17px;
	height: 17px;
	background-size: cover;
}

.action__view {
	background: url(../../images/view.png) 50% 50% no-repeat;
	width: 22px;
	background-size: cover;
}

.action__comment {
	background: url(../../images/comment.png) 50% 50% no-repeat;
	background-size: cover;
}

.action__love {
	background: url(../../images/love.png) 50% 50% no-repeat;
	background-size: cover;
}

.card__title {
	padding: 12px 8px 4px 6px;
	vertical-align: bottom;
}

.card__name {
	margin: 0px;
	margin-left: 5px;
	display: inline;
	position: relative;
	top: 2px; 
	color: var(--accent-secondry-color);
}

.card__icon {
	display: inline-block;
	background-size: contain;
	vertical-align: bottom;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: url(../../images/card-icon.png) 50% 50% no-repeat;
}

.card__media-container {
	width: 100%;
	max-height: 144px;
	overflow: hidden;
}

.content-container .card__media:nth-child(5n) {
	position: relative;
	top: 50px;
}

.content__card:nth-child(4n) .card__media {
	box-shadow: -1px 1px 0.5px #ddd;
}

.content__card:nth-child(4n-3) .card__media {
	box-shadow: 1px 1px 0.5px #ddd;
}

.card__media {
	box-shadow: 0px 1px 0.5px #ddd;
}

.test {
	background: url(../../images/eye.svg);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-size: cover;
}