.color-theme-accent {
	background-color: var(--accent-main-color);
	color: white;
	border-color: var(--accent-main-color);
}

.color-theme-mono {
	background-color: white;
	color: var(--basic-main-color);
	border-color: var(--basic-main-color);
}

.color-theme-dark {
	background-color: white;
	color: var(--basic-headlines-color);
	border-color: var(--basic-headlines-color);
}

.color-theme-clear {
	background-color: transparent;
	color: var(--accent-secondry-color);
	border: none;
}

