.header {
	width: 100%;
	background-color: var(--basic-headlines-color);
	line-height: 40px;
	color: var(--basic-main-color);

}

.header__logo {
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 40px;
	width: 100px;
	background: url(../../images/dribbble.png) 50% 50% no-repeat;
	background-size: cover;
	float: left;
}

.header__list {
	float: left;
	padding-left: 20px;
}

.header__list li {
	display: inline-block;
}

.header__list a {
	color: var(--basic-main-color);
}

.header__extra {
	display: inline-block;
	float: right;
}

.header__search{
	float: right;
}

.header__search input {
	background-color: var(--basic-main-color);
	color: white;
	border: solid 1px grey;
	border-radius: 2.5px;
}

.header__sign{
	float: left;
	padding-right: 30px;
}

